@media screen and (max-width : 950px) {

    ul.navbar li {
	display:block;
	}
	
    ul.navbar li a{
	font-size:20px;
	padding: 7px 15px;
	}
	
}

@media screen and (max-width: 950px) {

  .navbar li a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
	padding: 14px 30px;
  }

}

@media screen and (max-width: 950px) {
  .navbar.responsive {position: fixed;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
	padding: 14px 30px;
  }
  .navbar.responsive li a {
    display: block;
	text-align:left;
	padding: 14px 30px;
  }
 
}

@media screen and (max-width : 900px) {

    ul.navbar li {
	display:block;
	}
	
    ul.navbar li a{
	font-size:18px;
	padding: 7px 15px;
	}
	
}


@media screen and (max-width: 900px) {
  .navbar li a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
	padding: 14px 30px;
  }

}

@media screen and (max-width: 900px) {
  .navbar.responsive {position: fixed;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
	padding: 14px 30px;
  }
  .navbar.responsive li a {
    display: block;
	text-align:left;
	padding: 14px 30px;
  }
}

@media screen and (max-width : 700px) {
	.navbar{
	position:fixed;
	}
    ul.navbar li {
	display:block;
	}
    ul.navbar li a{
	font-size:16px;
	padding: 7px 15px;
	}
	
}

@media screen and (max-width: 700px) {

  .navbar li a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
	padding: 10px 20px;
  }
}

@media screen and (max-width: 700px) {

  .navbar.responsive {position: fixed;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
	padding: 10px 20px;
  }
  .navbar.responsive li a {
    display: block;
	text-align:left;
	padding: 10px 20px;
  }
}

@media screen and (max-width : 500px) {
	.navbar{
	position:fixed;
	}
    ul.navbar li {
	display:block;
	}
    ul.navbar li a{
	font-size:14px;
	padding: 7px 15px;
	}
	
}

@media screen and (max-width: 500px) {

  .navbar li a {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
	padding: 7px 15px;
  }
}

@media screen and (max-width: 500px) {
  .navbar.responsive {position: fixed;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
	padding: 7px 15px;
  }
  .navbar.responsive li a {
    display: block;
	text-align:left;
	padding: 7px 15px;
  }
}

@media screen and (max-width : 400px) {
}